@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-500:#1c732a;
}

@media (prefers-color-scheme: dark) {

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.text-primary-500{
  color: var(--primary-500);
}
.bg-primary-500{
  background-color: var(--primary-500);
}